<!DOCTYPE html>
<html>
  <head>
    <title>EvercamAdmin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'admin/application' %>
  </head>

  <body class="app header-fixed sidebar-fixed aside-menu-fixed sidebar-lg-show">
    <div id='app' current_user="<%= @current_user %>" api_url="<%= @api_url %>" >
    </div>
    <%= javascript_pack_tag 'admin/application' %>
  </body>
</html>
